<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utsav Garg PortFolio</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script>
        // Image carasousel 
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        function currentSlide(n) {
        showSlides(slideIndex = n);
        }
        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
        }

        // Project Section
        function pro_id_1(){
            console.log("im pro_id_1");
            var x = document.getElementById("pro_2");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById('pro_id_1_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> May 2023 - Present</div><h3>PortFolio Website  </h3>';
            } else {
                x.style.display = "none";
                document.getElementById('pro_id_1_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> May 2023 - Present</div><h3>PortFolio Website  </h3><p>URL - Ngrok URL</p><p>Languages Used - Node JS</p><p>Projec Intro</p><p>Secreenshot</p><p>Development Process Deatils</p>';
            }
        }

        function pro_id_2(){
            console.log("im pro_id_2");
            var x = document.getElementById("pro_1");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById('pro_id_2_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> December 2022 - Present</div><h3>ECommerce Platform  </h3>';
            } else {
                x.style.display = "none";
                document.getElementById('pro_id_2_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> December 2022 - Present</div><h3>ECommerce Platform  </h3><p>URL - Ngrok URL</p><p>Languages Used - Node JS</p><p>Projec Intro</p><p>Secreenshot</p>';
            }
        }

        // Experience Section
        function exp_id_1(){
            var x = document.getElementById("exp_id_2");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById('exp_id_1_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> March 2023 - Present</div><h3>Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </h3>';
            } else {
                x.style.display = "none";
                document.getElementById('exp_id_1_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> March 2023 - Present</div><h3><span>Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </span></h3><p>Working On Synchronization of E-Commerce Platforms like Magento, WooCoomerce to a Third Party Admin Panel </p><p>Technologies Worked on : </p><p>Language - Python</p><p>AWS Services used - Serverless,S3,CloudWatch,DynamoDb</p><p>Project Goal - Providing Client wth a Platform from where  they can track their orders and reach Retailers who were ready to partner and ship their products to areas where they cant reach themselves</p><p></p>';
            }
            var x = document.getElementById("exp_id_3");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById('exp_id_1_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> March 2023 - Present</div><h3>Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </h3>';
            } else {
                x.style.display = "none";
                document.getElementById('exp_id_1_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> March 2023 - Present</div><h3><span>Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </span></h3><p>Working On Synchronization of E-Commerce Platforms like Magento, WooCoomerce to a Third Party Admin Panel </p><p>Technologies Worked on : </p><p>Language - Python</p><p>AWS Services used - Serverless,S3,CloudWatch,DynamoDb</p><p>Project Goal - Providing Client wth a Platform from where  they can track their orders and reach Retailers who were ready to partner and ship their products to areas where they cant reach themselves</p><p></p>';
            }
        }
        function exp_id_2(){
            var x = document.getElementById("exp_id_1");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById('exp_id_2_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> March 2022 - March 2023</div><h3>Associate Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </h3>';
            } else {
                x.style.display = "none";
                document.getElementById('exp_id_2_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> March 2022 - March 2023</div><h3><span>Associate Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </span></h3><p>Magento Plugin Developer</p><p>Provided new easier checkout custom Payment Gateway using Stripe API to enable customers to place orders using cards</p><p>Plugin earlier was comptabile with version Magento 2.4.3 only but required major changes in the architecture to get it compatible with Magento 2.4.5 and then again later for 2.4.6 version with PHP 8.2</p><p>Wordpress Plugin Developer</p><p>Added PayPal payment Gateway using PayPal API </p><p>Added custom Tax functionality for clients requiring customers to be charged according to state tax law</p>';
            }
            var x = document.getElementById("exp_id_3");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById('exp_id_2_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> March 2022 - March 2023</div><h3>Associate Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </h3>';
            } else {
                x.style.display = "none";
                document.getElementById('exp_id_2_h').innerHTML = '<div class="year"><i class="bx bxs-calendar"></i> March 2022 - March 2023</div><h3><span>Associate Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </span></h3><p>Magento Plugin Developer</p><p>Provided new easier checkout custom Payment Gateway using Stripe API to enable customers to place orders using cards</p><p>Plugin earlier was comptabile with version Magento 2.4.3 only but required major changes in the architecture to get it compatible with Magento 2.4.5 and then again later for 2.4.6 version with PHP 8.2</p><p>Wordpress Plugin Developer</p><p>Added PayPal payment Gateway using PayPal API </p><p>Added custom Tax functionality for clients requiring customers to be charged according to state tax law</p>';
            }
        }
        function exp_id_3(){
            var x = document.getElementById("exp_id_2");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById('exp_id_3_h').innerHTML = '<h3>Software Trainee - Kent Ro </h3>';
            } else {
                x.style.display = "none";
                document.getElementById('exp_id_3_h').innerHTML = '<h3><span>Software Trainee - Kent Ro </span></h3><p>Worked on Core PHP on Web Scarpping on Amazon and Flipkart</p><p>Amazon Online Data Scrapping</p><p>Aim of the project was to list various sellers selling restricted Kent RO products along with price variation. About 54% of sellers were identified and disabling their listings.</p><p>Flipkart Online Data Scrapping</p><p>Aim of the project was to identify various sellers selling duplicate products on the platform. About 40% sellers were sellers disabled their listing and 20 % sellers joined as distributorship partner.</p><p></p><p></p>';
            }
            var x = document.getElementById("exp_id_1");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById('exp_id_3_h').innerHTML = '<h3>Software Trainee - Kent Ro </h3>';
            } else {
                x.style.display = "none";
                document.getElementById('exp_id_3_h').innerHTML = '<h3><span>Software Trainee - Kent Ro </span></h3><p>Worked on Core PHP on Web Scarpping on Amazon and Flipkart</p><p>Amazon Online Data Scrapping</p><p>Aim of the project was to list various sellers selling restricted Kent RO products along with price variation. About 54% of sellers were identified and disabling their listings.</p><p>Flipkart Online Data Scrapping</p><p>Aim of the project was to identify various sellers selling duplicate products on the platform. About 40% sellers were sellers disabled their listing and 20 % sellers joined as distributorship partner.</p><p></p><p></p>';
            }
        }
    </script>

</head>
<body>
    
    <!-- Header Design -->
    <header class="header">
        <a href="#" class="logo">Utsav <span>Garg</span></a>

        <div class="bx bx-menu" id="menu-icon"></div>
            <nav class="navbar">
                <a href="#home" class="active">Home</a>
                <a href="#about">About</a>
                <a href="#experience">Experience</a>
                <a href="#skills">Skills</a>
                <a href="#certification">Certification</a>
                <a href="#project">Project</a>
                <a href="#education">Education</a>
                <a href="#contact">Contact</a>
            </nav>
    </header>

    <!-- home section design -->
    <section class="home" id="home">
        <div class ="home-content">
            <h1>Hi, I'm <span>Utsav Garg</span></h1>
            <div class="text-animate">
                <h3>Software Developer</h3>
            </div>
            <p>I am a Software Developer.
               Welcome to my PortFolio Website.Feel free to browse and contact me  for Hiring.
               Currently Open to Work</p>

            <div class="btn-box">
               <!--  <a target="_blank" href="https://pdfhost.io/v/wKhG7v7Nk_resume" class="btn">View Resume</a> -->
                <a target="_blank" href="resume.pdf" class="btn">View Resume</a>
                <a href="resume.pdf" download class="btn">Save Resume</a>
                <!-- <a href="#" class="btn">View Resume</a>
                <a href="#" download class="btn">Save Resume</a> -->
            </div>
        </div>


        <div class="home-sci">
            <a target="_blank" href="https://www.linkedin.com/in/garg-utsav/"><i class='bx bxl-linkedin'></i></a>
            <a target="_blank" href="https://github.com/rick-richestein"><i class='bx bxl-github'></i></a>
            <a target="_blank" href="https://stackoverflow.com/users/20791536/utsav-garg"><i class='bx bxl-stack-overflow'</i></a>
        </div>

        <div class="home-imgHover"></div>
    </section>

    <!-- customizing about.section design -->
    <section class="about" id="about">
        <div class="row">
            <div class="column-content">
                <div class="about-content">
                    <h2 class="heading">About <span>Me</span></h2>
                    <!-- <h3>Software Developer</h3> -->
                    <p>Passionate and dedicated software developer with 2 years of experience in the industry, specializing in PHP, Magento, and WooCommerce. Currently expanding my skill set and knowledge by actively learning Node.js.</p>

                       <p>Proficient in developing robust and scalable e-commerce solutions using PHP frameworks, I have successfully delivered several projects that have enhanced online shopping experiences and increased sales. My expertise lies in customizing and extending Magento and WooCommerce platforms, ensuring seamless integration with various systems and third-party APIs.</p>
                        
                       <p>I am driven by the desire to stay ahead of the technology curve and consistently upgrade my skills. Currently, I am focusing on learning Node.js to broaden my capabilities in building efficient and real-time web applications. This ongoing learning process demonstrates my commitment to personal and professional growth in the ever-evolving software development landscape.</p>
                       
                       <p>Throughout my career, I have collaborated closely with cross-functional teams to deliver high-quality software solutions. I am adept at translating business requirements into technical specifications, providing innovative solutions to complex problems, and ensuring the timely delivery of projects.</p>
                    <div class="btn-box btns">
                        <a target="_blank" href="#" class="btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="column-image">
                <div class="about-img">
                    <img src="/about.jpg" alt="">
                    <span class="circle-spin"></span>            
                </div>
            </div>
        </div>
    </section>

<!-- customizing about.section design -->
    <!-- about.section design -->
        <!--  <section class="about" id="about">
            <h2 class="heading">About <span>Me</span></h2>
            <div class="about-img">
                <img src="/about.jpg" alt="">
                <span class="circle-spin"></span>            
            </div>
            <div class="about-content">
                <h3>Software Developer</h3>
                <p>IT professional with over 2 year of experience as Software Developer and 6 months as Team Leader on Web Development. Eager to join an
                    organization to apply my new skills on new technologies like Magento,Wordpress and Node JS.</p>

                <div class="btn-box btns">
                    <a target="_blank" href="https://www.linkedin.com/in/garg-utsav/" class="btn">My LinkedIn</a>
                </div>
            </div>
        </section> -->
<!-- customizing about.section design -->

    <!-- education section design -->
    <section class="education" id="experience" style="padding-bottom: 34rem;">
        <h2 class="heading">My <span>Journey</span></h2>

        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Where I’ve Worked</h3>

                <div class="education-box">
                    <div id="exp_id_1" class="education-content">
                        <div class="content" onclick="exp_id_1();" id="exp_id_1_h">
                            <div class="year"><i class="bx bxs-calendar"></i> March 2023 - Present</div>
                            <h3>Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </h3>
                        </div>
                    </div>

                    <div id="exp_id_2" class="education-content">
                        <div class="content"  onclick="exp_id_2();" id="exp_id_2_h">
                            <div class="year"><i class="bx bxs-calendar"></i> March 2022 - March 2023</div>
                            <h3>Associate Software Engineer - Thoughts2Binary Consulting Solutions Ltd  </h3>
                        </div>
                    </div>

                    <div id="exp_id_3" class="education-content">
                        <div class="content" onclick="exp_id_3();" id="exp_id_3_h">
                            <!-- <div class="year"><i class="bx bxs-calendar"></i> September 2019-2019</div> -->
                            <h3>Software Trainee - Kent Ro  </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- skills section design -->
    <section class="skills" id="skills" style="padding-bottom: 34rem;">
        <h2 class="heading">My <span>Skills</span></h2>

        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Programming Languages I am well versed in </h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <div class="content">PHP <!-- span>85%</span> --></div>
                            <!-- <h3>PHP <span>85%</span></h3>
                            <div class="bar"><span></span></div> -->
                            <p>PHP based E-Commerce Platforms - 
                                WooCommerce,Magento</p>
                        </div>

                        <!-- <div class="progress">
                            <div class="content">Node JS </div>
                            <h3>Node JS <span>65%</span></h3>
                            <div class="bar"><span></span></div>
                            <p>Frameworks - Express JS</p>
                        </div> -->

                        <div class="progress">
                            <div class="content">Python <!-- <span>60%</span> --></div>
                            <!-- <h3>Python <span>60%</span></h3>
                            <div class="bar"><span></span></div> -->
                            <p>Comfortable working on Python</p>
                        </div>

                        <div class="progress">
                            <div class="content">C++ <!-- <span>80%</span> --></div>
                            <!-- <h3>C++ <span>80%</span></h3>
                            <div class="bar"><span></span></div> -->
                            <p>Worked on couple of small projects</p>
                        </div>
                    </div>
                </div>

                <br><br>

                <h3 class="title">Web Development: </h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <div class="content">Node JS </div>
                        </div>
                        <div class="progress">
                            <div class="content">Express JS </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="skills-column">
                <h3 class="title">Supporting Software Skills</h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <div class="content">Database - MySQL,MongoDB </div>
                            <p>Proficient in MySql Database.
                                Also Hand on experience on MongoDB Database with my personal project
                            </p>
                        </div>

                        <div class="progress">
                            <div class="content">Git </div>
                            <p>Comfortable working with Git commands and proficient with handling 
                                code on different branches simultaneously</p>
                        </div>

                        <div class="progress">
                            <div class="content">DevOps </div>
                            <p>Currently learning Docker and Kubernetes </p>
                        </div>

                        <div class="progress">
                            <div class="content">Linux </div>
                            <p>Comfortable working with Linux system</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- certification section design -->
    <section class="education" id="certification" style="padding-bottom: 10rem;">
        <h2 class="heading"><span>Awards</span> and <span>Certifications</span></h2>
        <div class="education-row">
            <div class="education-column">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <h3 class="title" id="inter">HackerRank Sql - Intermediate Certification</h3>
                        <img src="sql_inter.jpg" alt="HackerRank SQL Certification" style="float:left;width:700px;">
                    </div>
                    <div class="mySlides fade" style="display: none;">
                        <h3 class="title" id="inter">HackerRank Sql - Basic Certification</h3>
                        <img src="sql_basic.jpg" alt="HackerRank SQL Certification" style="float:left;width:700px;">
                    </div>
                    <div class="mySlides fade" style="display: none;">
                        <h3 class="title" id="inter">HackerRank JavaScipt - Basic Certification</h3>
                        <img src="js_basic.jpg" alt="HackerRank SQL Certification" style="float:left;width:700px;">
                    </div>
                    <div class="mySlides fade" style="display: none;">
                        <h3 class="title" id="inter">Thoughts2Binary Appreciation Post</h3>
                        <img src="appreication.jpg" alt="HackerRank SQL Certification" style="float:left;width:700px;height:500px;">
                    </div>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
                <br><br><br><br>
            </div>
        </div>
    </section>

    <!-- project section design -->
    <section class="skills" id="project" style="padding-bottom: 34rem;">
        <h2 class="heading">My <span>Projects</span></h2>

        <div class="education-row">
            <div class="education-column">
               <!--  <h3 class="title">Where I’ve Worked</h3> -->

                <div class="education-box">
                    <div id="pro_1" class="education-content">
                        <div class="content" onclick="pro_id_1();" id="pro_id_1_h">
                            <div class="year"><i class="bx bxs-calendar"></i> May 2023 - Present</div>
                            <h3>PortFolio Website  </h3>
                        </div>
                    </div>

                    <div id="pro_2" class="education-content">
                        <div class="content"  onclick="pro_id_2();" id="pro_id_2_h">
                            <div class="year"><i class="bx bxs-calendar"></i> December 2022 - Present</div>
                            <h3>ECommerce Platform  </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- customzing education section -->
    <section class="education" id="education" style="padding-bottom: 15rem;">
        <h2 class="heading">My Education <span>Journey</span></h2>
        <div class="education-column">
            <h3 class="title">Education</h3>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calendar"></i> 2015-2019</div>
                        <h3>Bachelor Degree - Bharati Vidyapeeth College of Engineering,
                            Pune </h3>
                        <p>Completed my Bachelor Of Technolgy with a CGPA 8.86</p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calendar"></i> 2015-2019</div>
                        <h3>Higher Secondary Education </h3>
                        <p>Completed my Higher Secondary Education from KIIT World School 
                            with a percentage of 91%</p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calendar"></i> 2015-2019</div>
                        <h3>Secondary Education </h3>
                        <p>Completed my Secondary Education from KIIT World School 
                            with a CGPA of 9.1</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- customzing education section -->

    <!-- contact section design -->
    <section class="contact" id="contact" style="padding-bottom: 5rem;">
        <h2 class="heading">Get In Touch With <span>Me!</span></h2>

        <div class="about-content">
            <!-- <p>Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!</p> -->
        </div>
        <form action="/send-mail" method="POST">
            <div class="input-box">
                <div class="input-field">
                    <input type="text" id="sendername" placeholder="Full Name"  name="senderName" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" id="email" placeholder="Email Address" name="senderEmail" required>
                    <span class="focus"></span>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="number" placeholder="Mobile Number" name="senderNumber" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" id="subject" placeholder="Email Subject" name="mailSubject" required>
                    <span class="focus"></span>
                </div>
            </div>

            <div class="textarea-field">
                <textarea id="messageMail" cols="30" rows="10" placeholder="Your Message" name="mailBody" required></textarea>
                <span class="focus"></span>
            </div>

            <div class="btn-box btns">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </section>

    <!-- footer section design -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Utsav Garg | All Rights Reserved</p>
        </div>

        <div class="footer-iconTop">
            <a href="#"><i class="bx bx-up-arrow-alt"></i></a>
        </div>
    </footer>
</body>
</html>